/*estilos de la vista tablero*/

.caja1{
    background:#00A65A;
}
.caja2{
    
    background:#DD4A39;
}
.caja3{
   
    background:#5F5CA8;
}

/*cajas*/
.caja {
    position: relative;
    width: 200px;
    height: 150px;
    box-shadow: 5px 4px 10px black;
}
.caja .contenido{
    width: 100%;
    height: 80%;
}
.caja .detalle{
    background: rgb(0,0,0,0.3);
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
}
.caja .contenido img{
    width: 80px;
    margin: 40px 0px 0px 100px;
    opacity: 0.7;
}
.text-float{
    position: absolute;
    bottom: 30px;
    left:10px;
}
.text-float  p{
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}
.caja .contenido img:hover{
    width: 90px;
    margin: 35px 0px 0px 100px;
    opacity: 0.5;
    transition-duration: 1s;
}


